th, td {
  border: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#filter input {
  width: 20%;
}

#filter button {
  width: 100px;
}